<p>student-details works!</p>
<h3>{{student?.ime}}</h3>


<!-- <div *ngIf="patient">
  <h3 class="bg-success text-white text-center">{{'PATIENT.DETAILS_PATIENT' | translate}} {{patient.name}} {{patient.surname}}</h3>
<div class="p-3">
  <button class="btn btn-danger" routerLink="/patients/patients-list">{{'COMMON.BACK' | translate}}</button>
</div>
<div class="d-flex d-flex justify-content-center p-3" >
  <table class="w-50">
    <tr>
      <th class="bg-white px-3" >{{'COMMON.IDENTIFIER' | translate}}:</th>
      <td class="bg-white d-flex justify-content-end px-3" >{{patient.identifier}}</td>
    </tr>
    <tr>
      <th class="bg-light px-3">{{'COMMON.NAME' | translate}}:</th>
      <td class="bg-light d-flex justify-content-end px-3">{{patient.name}}</td>
    </tr>
    <tr>
      <th class="bg-white px-3">{{'PATIENT.SURNAME' | translate}}:</th>
      <td class="bg-white d-flex justify-content-end px-3">{{patient.surname}}</td>
    </tr>
    <tr>
      <th class="bg-light px-3">{{'PATIENT.GENDER' | translate}}:</th>
      <td class="bg-light d-flex justify-content-end px-3"
        *ngIf="patient.gender; else undefinedTemp">{{patient.gender}}</td>
    </tr>
    <tr>
      <th class="bg-white px-3">{{'PATIENT.BIRTH_DATE' | translate}}:</th>
      <td class="bg-white d-flex justify-content-end px-3" >{{patient.birthDate}}</td>
    </tr>
    <tr>
      <th class="bg-light px-3">{{'COMMON.ADRESS' | translate}}:</th>
      <td class="bg-light d-flex justify-content-end px-3"
        *ngIf="patient.adress; else undefinedTemp">{{patient.adress}}</td>
    </tr>
    <tr>
      <th class="bg-white px-3">{{'COMMON.PHONE' | translate}}:</th>
      <td class="bg-white d-flex justify-content-end px-3"
        *ngIf="patient.phone; else undefinedTempW">{{patient.phone}}</td>
    </tr>
    <tr>
      <th class="bg-light px-3">{{'COMMON.EMAIL' | translate}}:</th>
      <td class="bg-light d-flex justify-content-end px-3"
        *ngIf="patient.email; else undefinedTemp">{{patient.email}}</td>
    </tr>
    <tr>
      <th class="bg-white px-3">{{'PATIENT.DECEASED' | translate}}</th>
      <td class="bg-white d-flex justify-content-end px-3">{{patient.deceased}}</td>
    </tr>
    <tr>
      <th class="bg-light px-3">{{'PATIENT.ORGANIZATION' | translate}}:</th>
      <td class="bg-light d-flex justify-content-end px-3"
        *ngIf="patient.organization; else undefinedTemp">{{patient.organization.name}}</td>
    </tr>
    <tr>
      <th class="bg-white px-3">{{'PATIENT.PRIMARY_CARE_PROVIDER' | translate}}:</th>
      <td class="bg-white d-flex justify-content-end px-3"
        *ngIf="patient.primaryCareProvider; else undefinedTempW">{{patient.primaryCareProvider.name}} {{patient.primaryCareProvider.surname}}</td>
    </tr>
  </table>

</div>
</div>
 -->
