<div class="jumbotron p-4 bg-success">
<h3 class="text-center text-white" style="font-size: 30px">Registar studenata i profesora</h3>
<br>
<div class="nav" style="font-size: 20px; "  >
    <a class="active" href="/home" style="color: white; margin-right: 50px; margin-left: 20px;"><b>Home</b></a>

    <div class="dropdown">
      <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" style="margin-right:50px">Studeneti
      </button>
      <ul class="dropdown-menu">
        <li><a href="/students">Lista studenta</a></li>
        <li><a href="/add-student">Dodaj studenta</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown">Profesori
      </button>
      <ul class="dropdown-menu">
        <li><a href="/profesori">Lista profesora</a></li>
        <li><a href="/add-profesor">Dodaj profesora</a></li>
      </ul>
    </div>

  </div>

</div>

<!-- <app-student-list></app-student-list> -->
<router-outlet></router-outlet>
