<div class="container">
    <div class="m-5">
      <button class="btn btn-success" (click)="dodajStudenta()">Dodaj studenta</button> &nbsp; &nbsp; <i>Search...  </i>
      <input
          type="text"
          [(ngModel)]="text"
          class="searchText"
          placeholder="Pretrazite studenta..."
          size="30"
          /> 
      
        <table class="table table hover">
            <thead>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>BrojIndeksa</th>
                <th>Options</th>
            </thead>

            <tbody>
                <tr *ngFor="let student of students | filter: text ; let i = index ">
                    <td>{{student.id}}</td>
                    <td>{{student.ime}}</td>
                    <td>{{student.prezime}}</td>
                    <td>{{student.brojIndeksa}}</td>


                    <td>
                        <button class="btn btn-danger" (click)="potvrdaBrisanja(student.id)">Delete</button> &nbsp;
                        <button class="btn btn-warning" (click)="prikaziDetalje(student.id)">Detalji</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
